<section class="cabecalho">
  <h2>Minhas leituras<span class="linha-colorida"></span></h2>
  <button routerLink="/formulario">
    <i class="material-icons">add</i>
    Criar novo card
  </button>
</section>
@for (genero of generos; track genero) {
  <section class="generos" [ngClass]="genero.id">
    <h3>{{ genero.value }}<span class="linha-colorida" [ngClass]="genero.id"></span></h3>
    <div class="livros-genero">
      @for (livro of livroService.obterLivrosPorGenero(genero.id); track livro) {
        <app-livro
          [livro]="livro"
        />
      }
      </div>
  </section>
}
